.navbar-datacrafts
  background: rgba(255, 255, 255, .9)
  a
    color: #666

  .nav > li > a:hover,
  .nav > li > a:focus
    background: none

#footer
  p
    margin: 0

.webicon:hover
  margin: 0 0 5px 0
  box-shadow: none
